/* sidebar Nav */

.navBar {
  /* position: relative; */
  width: 300px;
  background-image:linear-gradient(-45deg, #6ce7cf 1%, #166265 100%);
  height: 100vh;

  position: absolute;
  z-index: 9;
}

.navbarClose {
  /* background-color: transparent;
  display: none; */

  cursor: pointer;
  background-color: transparent;
  display: block;
  width: fit-content;
  padding: 12px;
  outline: none;
  border: none;
}

.navbarItem {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  height: 50px;
  display: block;
  margin: auto 0 auto 0;
  width: 300px;
  line-height: 50px;
  text-align: center;
}
.navbarItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
.navbarItem:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.navbarItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  /* border: 1px solid rgba(255,255,255,0.5); */
  transform: scale(1.2, 1.2);
}
.navbarItem:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
.active {
  background-color: #fff;
  color: #166265;
  /* font-size: 72px; */
}

.hideMenu {
  width: 50px;
  position: fixed;
  /* position: relative; */
}
.hideItem {
  display: none;
}

@media screen and (max-width: 700px) {
  .navbarClose {
    background-color: transparent;
    display: block;
    width: fit-content;
    padding: 10px;
    outline: none;
    border: none;
  }

  .hideMenu {
    /* width: 120px; */
  }
  .hideItem {
    display: none;
  }
}
