.lists-wrapper {
  display: flex;
}

header {
  height: 50px;
    /* background: red; */
    width: 100%;
    /* background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); */
    /* background: linear-gradient(to right, #FF4B2B, #FF416C); */
    background-image: linear-gradient(-45deg, #8F479A 1%, #DC2A74 100%);
}