.addNewItemContainer {
    border-style: dotted;
    border-radius: 10px;
    border-color: #dedede;
    padding: 10px;
    max-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    cursor: pointer;
}

.addNewItemContainer:hover {
    /* background-color: #d0d0d2; */
    border-color: #42a69b;
    /* cursor: pointer; */
}